<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <form action="/sheet/fetch" method="post">
      Sheet id: <input type="text" name="sheetid"><br>
      Range: <input type="text" name="range"><br>
      <input type="submit" value="Submit">
    </form>

    {{>footer}}
  </body>
</html>
